<div class="row">
  <div class="large-1 columns">
    Stephen<br>
    Laney<br>
    Alex<br>
    Peter<br>
    Bill<br>
    CB<br>
    Parker<br>
    Katie<br>
  </div>
  <div class="chart large-11 columns"></div>
</div>
